
 /*  update 9/19/2024 */

 /* src/App.css 2 */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Make the header fixed at the top */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #1976d2;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Adjust margin for header height */
main {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  margin-top: 60px; /* Adjust this value based on header height */
  margin-bottom: 60px; /* Adjust this value based on footer height */
}

/* Center the nav items */
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Make the footer fixed at the bottom */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #1976d2;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Remove margin in header and footer text */
header h1, footer p {
  margin: 0;
}


